.container {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    top: 0px;

}
.Heading{
    background-color: purple;
    padding-left: 36%;
    margin-bottom: 40%;
    height: 15%;
    width: 100%;
    color:white;
    font-size: 35px;
}

#btn{
    width:100%;
    border-radius: 0;
    margin: 80% 0;
    font-size: 30px;
    padding: 5% 5%;
    background-color: gray;
}
#main_alert{
    width:85%;
    height:100%;
    margin: 40% 0;
}

.dialog_text{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.sub_alert{
    color : #4E4B4B;
    font-size: 25px;
    padding: 0 5%;
    margin-top: 0px;
}
.option{
    display: flex;
    flex-direction:row;
    top:100%;
    left:37%;
    right:10%
}

.cancel,.discard,.ok{
    font-size: 20px;
    text-color: purple;
    padding: 5% 5%;
    background-color: transparent;
}

#main_Confirmation{
    width:85%;
    height:100%;
    margin: 8% 0;
}
.sub_Confirmation{
    font-size: 30px;
    padding: 0 5% ;
    margin-top : 10%;
}
.divider{
    stroke-width: 1px;
    color: #686565;
    margin: 2% 0;
}

.radio{
    height:80%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

#tone{
    color: purple;
}
.radio_text{
    font-size: 20px;
}

.tone_option{
    display: flex;
    flex-direction:row;
    top:25%;
    left:45%;
    right:10%
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("../../common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
